@charset  "UTF-8";

body {
    width:100%;
}

.container{
    float:center;
}

.flexboxA{
    display:flex;
    flex-direction:row;
    
}
.flexboxB{
    display:flex;
    flex-direction:row;
    
}
.flexboxC{
    display:flex;
    flex-direction:row;
}

.box {
    border-radius:50%;
}
.side{
    background-color:blue;
    padding:30px;
    height:90px;
    width:30%;
}

.container{
    margin:30px 20px 30px 50px;
}

.box{
    text-align:center;
    width:72px;
    height:72px;
    padding:60px;
    margin:15px;
    }
    
    #one{background-color:rgb(245,176,144,0.5); }
    #two{background-color:rgb(255,249,177,0.5) ;}
    #three{background-color:rgb(215,231,160,0.5); }
    #four{background-color:rgb(245,178,178,0.5);}
    #five{background-color:rgb(255,255,255,0.5); border:1px solid grey }
    #six{background-color:rgb(162,215,208,0.5); }
    #seven{background-color:rgb(207,167,205,0.5); }
    #eight{background-color:rgb(165,154,202,0.5); }
    #nine{background-color:rgb(159,217,246,0.5);}
    
    .message{
        width:20%;
        float:left;
        height:400px;
        padding:30px;
        border:1px solid grey;
        margin:100px 50px 0px 200px;}
        
.message p{
        letter-spacing:10px;
    }
   
   #one:hover{background-color:rgb(245,176,144,1.0); }
    #two:hover{background-color:rgb(255,249,177,1.0) ; }
    #three:hover{background-color:rgb(215,231,160,1.0); }
    #four:hover{background-color:rgb(245,178,178,1.0);}
    #five:hover{background-color:rgb(255,255,255,1.0); border:1px solid grey }
    #six:hover{background-color:rgb(162,215,208,1.0); }
    #seven:hover{background-color:rgb(207,167,205,1.0); }
    #eight:hover{background-color:rgb(165,154,202,1.0);}
    #nine:hover{background-color:rgb(159,217,246,1.0);}
